<template>
  <tr class="row">
    <td class="col-7">
      <select3 class="form-control" required data-msg-required="Enter Product" 
          :allow-custom="false" 
          v-model.number="detail.inventoryDetailId" v-debounce="1000">                    
          <option value="null" disabled selected>Please Select Product</option>                        
          <option v-for="selection in inventorySelections" :value="selection.id" :key="selection.name">{{ selection.name }}</option> 
      </select3> 
    </td>
    <td class="col-2">
      <money
        class="form-control text-right"
        v-model.number="detail.balance"
        v-bind="moneyConfig"
        disabled
      ></money>
    </td>
    <td class="col-2">
      <div class="input-group mb-3">
        <money
          class="form-control text-right"
          v-model.number="detail.orderedQuantity"
          v-bind="moneyConfig"
        ></money>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">{{detail.unit}}</span>
        </div>
      </div>
    </td>

    <td class="col-1 text-right">
      <a href="#" role="button" class="btn btn-outline-danger" @click="remove">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </td>
  </tr>
</template>

<script>
import { Form } from "@c1_common_js/components/Form";
import Select3 from "@c1_common_js/components/Select3";

export default {
  components: { Select3 },

  props: ["detail", "inventory-selections"],

  data() {
    return {
      moneyConfig: {
        precision: 3
      },
      // inventoryApiUrl:
      //   "/api/inventory-details?include=inventory.product&quantity>0",
      inventoryApiUrl: "/api/inventory-details?accessory-products-only=1&quantity>0&include=inventory.product",
      defaultInventory: {},
      selectedInventory: null,
      inventoryIsLoading: false,
      form: new Form()
    };
  },

  mounted() {
    console.log("DeliveryReceipts order detail component mounted.");
  },

  watch: {
    isNotValid(val) {
      this.detail.isNotValid = val;
    },
    selectedInventory(val) {
      if (val.hasOwnProperty("id")) {
        this.detail.inventoryDetailId = val.id;
      } else {
        this.detail.inventoryDetailId = null;
      }
    },

    inventoryDetailId(val) {
      if (val) {
        this.inventoryIsLoading = true;
        this.form
          .get(
            "/api/inventory-details/" +
              val +
              "?include=inventory.product&quantity>0"
          )
          .then(response => {
            this.selectedInventory = response.data;
            this.setBalance();
            this.inventoryIsLoading = false;
          })
          .catch(error => {
            console.log(error);
            this.inventoryIsLoading = false;
          });
      } else {
        this.selectedInventory = null;
      }
    }
  },

  computed: {
    isNotValid() {
      if (this.detail.orderedQuantity == 0) {
        return false;
      }
      return this.detail.balance - this.detail.orderedQuantity < 0;
    },
    inventoryDetailId() {
      return this.detail.inventoryDetailId;
    }
  },

  methods: {
    setBalance() {
      let inventoryDetail = this.selectedInventory;
      this.detail.balance = inventoryDetail.quantity;
      this.detail.unit = inventoryDetail.type;
    },

    remove() {
      console.log("Removing detail...");
      this.$emit("remove");
    }
  },
  created() {
    if (this.detail.inventoryDetailId != null) {
      this.defaultInventory = this.detail.inventoryDetail.data;
    }
  }
};
</script>