<template>
    <tr class="row">
        <td class="col-6">
            <select2
                class="form-control"
                :allow-custom="false"
                :name="productAnchor"
                :id="productAnchor"
                v-model.number="detail.productId"
                required
                data-msg-required="Enter Product"
                placeholder="Please select"
            >
                <option disabled value>Please select Product</option>
                <option v-for="item in products" :value="item.id">{{ item.name }}</option>
            </select2>
        </td>
        <td class="col-3">
            <span v-if="selectedProduct">
                <input
                    type="text"
                    class="form-control"
                    :value="selectedProduct.uom.data.name"
                    disabled
                />
            </span>
            <span>&nbsp;</span>
        </td>
        <td class="col-2">
            <money
                class="form-control text-right"
                v-model.number="detail.quantity"
                @focus="$event.target.select()"
                v-bind="moneyConfig"
            ></money>
        </td>
        <td class="text-right col-1">
            <a href="#" role="button" class="btn btn-outline-danger" @click="remove">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </td>
    </tr>
</template>

<script>
import Select2 from "@c1_common_js/components/Select2";

export default {
    components: { Select2 },

    props: ["detail", "products", "index"],

    data() {
        return {
            moneyConfig: {
                precision: 2
            }
        };
    },

    mounted() {
        console.log("Receiving detail component mounted.");
    },

    watch: {},
    computed: {
        selectedProduct() {
            if (this.detail.productId == null) {
                return undefined;
            }

            return this.products.find(
                product => product.id == this.detail.productId
            );
        },
        productAnchor() {
            return "product" + this.index;
        },
        uomAnchor() {
            return "uom" + this.index;
        }
    },

    methods: {
        remove() {
            console.log("Removing detail...");
            this.$emit("remove");
        }
    }
};
</script>