<template>
    <button type="button" class="btn btn-danger" @click="destroy" :disabled="isBusy">
        <div v-if="isDeleting">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Deleting...
        </div>
        <div v-if="!isDeleting">
            <i class="fa fa-trash"></i>
        </div>
    </button>
</template>

<script>
    export default {
        props: ['is-busy', 'is-deleting'],

        mounted() {
            console.log('Delete button mounted.')
        },

        methods: {
            destroy() {
                this.$emit('destroy')
            }
        }
    }
</script>
