<template>
    <div>
        <filters :conditions="conditions"
                 :filterable="filterable"
                 v-on:add="addCondition"
                 v-on:filter="filter"
                 v-on:clear="clear">
        </filters>

        <br>

        <h3><slot name="header"></slot></h3>
        <slot name="create_button"></slot>
        <br>

        <slot></slot>

        <p class="text-center" v-if="isLoading">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Loading...
        </p>

        <p class="text-center" v-if="!isLoading && noItems">
            No items.
        </p>
        <br>
        <hr>
        <pagination-links
                :status="paginationStatus"
                :prev-disabled="isFirstPage || isLoading"
                :next-disabled="isLastPage || isLoading"
                v-on:next-page="nextPage"
                v-on:prev-page="prevPage">
        </pagination-links>
        
        <!--<pagination-links-->
                <!--:total-pages="pagination.total_pages"-->
                <!--:current-page="pagination.current_page"-->
                <!--:status="paginationStatus"-->
                <!--:prev-disabled="isFirstPage || isLoading"-->
                <!--:next-disabled="isLastPage || isLoading"-->
                <!--v-on:next-page="nextPage"-->
                <!--v-on:prev-page="prevPage"-->
                <!--v-on:to-page="toPage">-->
        <!--</pagination-links>-->
    </div>
</template>

<script>
    import Filters from './Filters'
//    import PaginationLinks from './NumberedPaginationLinks'
    import PaginationLinks from './PaginationLinks'

    export default {

        components: {
            Filters,
            PaginationLinks,
        },

        props: ['filterable', 'base-url', 'sorter', 'sort-ascending',
//            'conditions'
        ],

        data() {
            return {
                isLoading: false,
                conditions: [],
                items: [],
                totals: {},
                pagination: {},
                page: 1
            }
        },

        watch: {
            isLoading(val) {
                console.log('Emitting is-loading...', val);
                this.$emit('update-loading', val);
            },

            items(val) {
                console.log('Updating items...');
                this.$emit('update-items', val);
            },

            totals(val) {
                console.log('Updating totals...');
                this.$emit('update-totals', val);
            },

            sorter(val) {
                this.load(this.assembledUrl);
            },

            sortAscending(val) {
                this.load(this.assembledUrl);
            },
        },

        methods: {

            addCondition() {
                this.conditions.push({
                    field: '',
                    value: '',
                })
            },

            filter() {
                this.load(this.assembledUrl);
            },

            clear() {
                this.conditions = [];
                this.page = 1;
                this.load(this.assembledUrl);
            },

            load(url) {
                this.isLoading = true;
                axios.get(url)
                    .then(this.onLoadSuccess)
                    .catch(this.onLoadError);
            },

            onLoadSuccess(response) {
                console.log(response);
                this.items = response.data.data;
                this.totals = response.data.meta.hasOwnProperty('totals') ? response.data.meta.totals : {};
                this.pagination = response.data.meta.pagination;
                if (this.noItems) this.page = 1;
                this.isLoading = false;
            },

            onLoadError(error) {
                console.log(error);
                this.isLoading = false;
            },

            prevPage() {
                if (this.isFirstPage || this.isLoading) return;
                this.page--;
                this.load(this.assembledUrl);
            },

            nextPage() {
                if (this.isLastPage || this.isLoading) return;
                this.page++;
                this.load(this.assembledUrl);
            },

            toPage(page) {
                console.log('Loading page', page);
                this.page = page;
                this.load(this.assembledUrl);
            }
        },

        mounted() {
            console.log('Index component mounted.');
            this.load(this.assembledUrl);
        },

        computed: {
            conditionString() {
                return this.conditions.reduce((prev, curr) => {
                    return prev.concat('&' + curr.field + '=' + curr.value)
                }, '');
            },

            sorterString() {
                return '&sort=' + (this.sortAscending ? '' : '-') + this.sorter;
            },

            assembledUrl() {
                let leader = '?';
                if (this.baseUrl.indexOf('?') > -1) leader = '&';
                return this.baseUrl + leader + 'page=' + this.page + this.conditionString + this.sorterString;
            },

            noItems() {
                return this.items.length == 0;
            },

            isLastPage() {
                if (this.noItems) return true;
                return this.page == this.pagination.total_pages;
            },

            isFirstPage() {
                return this.page == 1;
            },

            paginationFrom() {
                if (this.noItems) return 0;
                return (this.pagination.current_page - 1) * this.pagination.per_page + 1;
            },

            paginationTo() {
                if (this.noItems) return 0;
                return Math.min(this.pagination.current_page * this.pagination.per_page, this.pagination.total);
            },

            paginationStatus() {
                if (this.isLoading) return '';
                return 'Displaying items ' + this.paginationFrom + ' to ' + this.paginationTo + ' of ' + this.pagination.total;
            },
        },
    }
</script>
