<template>
    <button class="btn btn-success btn-sm" type="submit" :disabled="isBusy">
        <div v-if="isSaving">
            <i class="fas fa-spinner fa-pulse"></i> Saving...
        </div>
        <div v-if="!isSaving">
            Save
        </div>
    </button>
</template>

<script>
    export default {
        props: ['is-busy', 'is-saving'],

        mounted() {
            console.log('Save button mounted.')
        },
    }
</script>
