html {
  display: table;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

table {
  position: relative;
  overflow: hidden;
  border-collapse: collapse;
}

thead {
  position: relative;
  display: block;
  max-width: 794px;
  overflow: visible;
}

tbody {
  position: relative;
  display: block;
  max-width: 794px;
  max-height: 75vh;
  overflow: auto;
}

thead tr th.fixed {
  position: relative;
  border: 1px solid black !important;
}

tbody tr td.fixed {
  position: relative;
  min-height: 20px;
  border: 1px solid black !important;
}

table tr,
table th,
table td {
  border: 1px solid black;
  min-width: 100px;
  max-width: 100px;
}

tbody > tr:nth-child(even) td {
  background-color: #FFFFFF;
}

tbody > tr:nth-child(odd) td {
  background-color: #DDDDDD;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-title {
  text-transform: uppercase;
}

.header-timestamp {
  margin-top: 30px;
}

.body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.no-shade {
  background-color: #FFFFFF !important;
}

.red {
  color: red;
}

@media screen {
  html {
    margin: 0 auto;
  }

  body {
    font-size: 13px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 10px;
  }

  thead {
    width: 90vw;
  }

  tbody {
    width: 90vw;
  }

  .header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-timestamp {
    margin-top: 0px !important;
  }

  table tr,
  table th,
  table td {
    border: 1px solid black;
    min-width: 80px;
    max-width: 80px;
    word-wrap: break-word;
  }
}

@media print {
  tbody {
    overflow: visible;
  }

  table {
    overflow: visible;
  }
}

