html {
    display: table;
    margin: 0 10px;
}

body {
    margin: 0 auto;
    font-size: 12px;
    width: 794px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table .bordered tr,
table .bordered th,
table .bordered td {
    border: 1px solid black;
    min-width: 100px
}

.bordered tbody>tr:nth-child(even) {
    background: #FFF
}

.bordered tbody>tr:nth-child(odd) {
    background: #DDD
}

.no-shade {
    background: #FFF
}

.red {
    color: red;
}

@media screen {
    html {
        margin: 0 auto;
    }

    body {
        font-size: 16px;
        width: 100%;
    }
}

@media print {
    button {
        display: none;
    }

    body {
        margin: 0;
    }
}