// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import "./_variables2";

@import "~@coreui/coreui-pro/scss/coreui";
@import "../../coreui/2.1.12/src/vendors/pace-progress/css/pace.min.css";
@import "../../coreui/2.1.12/src/vendors/select2/css/select2.css";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";


[v-cloak] {
  display: none
}

$bolt-color: #e3d97d;

label {
  color: #73818f;
}

.invalid-feedback {

  color: #f86c6b !important;

}

// .app-header.navbar .navbar-brand {
//   min-width: 200px;
// }

.logo {
  height: 30px;
  width: 100px;
}

.card-body {
  padding: 0.75rem 1.25rem;
}

.fa-bolt {
  color: $bolt-color;
}

.no-border {
  border: none;
}

.widget {
  border-radius: 0.25rem;
  -webkit-box-shadow: -4px 10px 33px -4px rgba(143, 141, 143, 1);
  -moz-box-shadow: -4px 10px 33px -4px rgba(143, 141, 143, 1);
  box-shadow: -4px 10px 33px -4px rgba(143, 141, 143, 1);
}

.swal2-popup {
  border-radius: 0em !important;
}

.swal2-popup .swal2-title {
  font-size: 1.4em !important;
}

.swal2-popup .swal2-content {
  font-size: 1em !important;
}

.swal2-icon.swal2-warning {
  font-size: 20px !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
  border-radius: 0em !important;
  background-color: #20a8d8;

}

.swal2-popup .swal2-styled.swal2-cancel {
  border-radius: 0em !important;
}

.p1[data-count]:after {
  content: attr(data-count);
  position: absolute;
  background: #ff0000;
  height: 1rem;
  top: 0.7rem;
  right: 30%;
  width: 1.5rem;
  text-align: center;
  line-height: 1rem;
  ;
  font-size: 0.5rem;
  border-radius: 10%;
  color: white;
  border: 1px solid #ff0000;

}

//draggable

.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}

.draggable-list-group {
  min-height: 100px;
  max-height: 50vh;
  overflow: auto;
}

.draggable-list-group-item {
  cursor: move;
}

.draggable-list-group-item i {
  cursor: pointer;
}