@media only screen {
    html {
        margin: 0 auto;
        display: table;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
    }

    body {
        width: 100%;
        margin: 0;
        height: 100%;
        overflow: hidden
    }

    table {
        position: relative;
        overflow: hidden;
        border-collapse: separate;
        border-spacing: 0;
        border: none;
        border-left: solid thin #000;
        /* border-top:  solid thin #000; */
    }

    table thead th {
        border: none;
        border-right: solid thin #000;
        border-top: solid thin #000;
        border-bottom: solid thin #000;
    }

    table tbody td {
        border-bottom: solid thin #000;
        border-right: solid thin #000;
        color: #333;
    }

    table tr,
    table th,
    table td {
        min-width: 100px;
        max-width: 100px;
    }

    thead {
        position: relative;
        display: block;
        max-width: 794px;
        overflow: visible;
    }

    tbody {
        position: relative;
        display: block;
        max-width: 794px;
        max-height: 75vh;
        overflow: auto;
    }

    thead tr th.fixed {
        position: relative;

    }

    tbody tr td.fixed {
        position: relative;
        min-height: 20px;
    }

    tbody>tr:nth-child(even) td {
        background-color: #FFFFFF
    }

    tbody>tr:nth-child(odd) td {
        background-color: #DDDDDD
    }

    .main-wrapper {
        display: flex;
        flex-direction: column;
    }

    .header-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header-title {
        text-transform: uppercase;
    }


    .body-wrapper {
        display: flex;
    }


    .button-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .no-shade {
        background-color: #FFFFFF !important
    }

    .red {
        color: red;
    }

    .print-button {
        display: inline-block;
        margin: 0;
        padding: 0.75rem 2rem;
        border: 0;
        border-radius: 0.317rem;
        background-color: #aaa;
        color: #fff;
        text-decoration: none;
        font-weight: 700;
        line-height: 1.5;
        cursor: pointer;
    }

    .print-button:hover {
        opacity: 0.85;
    }

    .ordered {
        height: 3px;
        width: 3px;
        background-color: #20A8D8;
        border-radius: 50%;
        display: inline-block;
    }

    .unordered {
        height: 3px;
        width: 3px;
        background-color: #FFC106;
        border-radius: 50%;
        display: inline-block;
    }

}

@media (max-width: 480px) {
    body {
        font-size: 10px;
    }

    .main-wrapper {
        overflow: hidden;
    }

    thead,
    tbody {
        max-width: 100vw;
        min-width: 100vw;
    }


    .header-wrapper {
        display: flex;
        flex-direction: column;
    }

    .header-timestamp {
        margin-top: 0px !important
    }

    table tr,
    table th,
    table td {
        min-width: 0px;
        max-width: 0px;
        word-wrap: break-word;
    }

    .width-sm {
        min-width: 30px !important;
        max-width: 30px !important;
    }

    .width-md {
        min-width: 55px !important;
        max-width: 55px !important;
    }

    .width-lg {
        min-width: 80px !important;
        max-width: 80px !important;
    }

    .print-button {
        display: none !important
    }

}

@media print {

    // table tr,
    // table th,
    // table td {
    //     min-width: 100px;
    //     max-width: 100px;
    // }

    tbody {
        overflow: visible;
    }

    table {
        overflow: visible;
    }

    .print-button {
        display: none !important
    }

    html {
        display: table;
        margin: 0 10px;
    }

    body {
        margin: 0 auto;
        font-size: 12px;
        width: 794px;
        font-family: 'Open Sans', sans-serif;
        margin-left: 10px;
        margin-right: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table tr,
    table th,
    table td {
        border: thin solid black;
    }

    tbody>tr:nth-child(even) {
        background: #FFF
    }

    tbody>tr:nth-child(odd) {
        background: #DDD
    }

    .no-shade {
        background: #FFF
    }

    .shade {
        background: #CCC
    }

    .red {
        color: red;
    }



}