<template>
    <tr class="row">
        <td class="col-8">
            <select3
                class="form-control"
                :allow-custom="false"
                :name="productAnchor"
                :id="productAnchor"
                v-model.number="detail.productId"
                required
                data-msg-required="Enter Product"
                placeholder="Please select"
                :selected="selectedProduct"
            >
                <option disabled value>Please select Product</option>
                <option v-for="item in products" :value="item.id" :key="item.id">{{ item.name }}</option>
            </select3>
        </td>
        <td class="col-3">
            <money
                class="form-control text-right"
                v-model.number="detail.quantity"
                @focus="$event.target.select()"
                v-bind="moneyConfig"
            ></money>
        </td>
        <td class="text-right col-1">
            <button type="button" class="btn btn-outline-danger" @click="remove">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </td>
    </tr>
</template>

<script>
import Select3 from "@c1_common_js/components/Select3";

export default {
    components: { Select3 },

    props: ["detail", "products", "index"],

    data() {
        return {
            moneyConfig: {
                precision: 2
            },
            componentIsLoaded: true
        };
    },

    created() {
        console.log("Purchase detail component mounted.");
    },
    watch: {},
    computed: {
        selectedProduct() {
            if (this.detail.productId == null) {
                return undefined;
            }
            return this.detail.product.data;
            // return tmpProducts.find(
            //     product => product.id == this.detail.productId
            // );
        },
        productAnchor() {
            return "product" + this.index;
        },
        uomAnchor() {
            return "uom" + this.index;
        }
    },

    methods: {
        remove() {
            console.log("Removing detail...");
            this.$emit("remove");
        }
    }
};
</script>