<template>
    <tr class="row">
        <td class="center col-1">{{index+1}}</td>
        <td class="left col-3">
            <select3
                class="custom-select"
                required
                data-msg-required="Enter inventory"
                v-model.number="detail.inventoryDetailId"
                :selected="defaultSelectedInventoryDetail"
                :url="inventoryDetailUrl"
                search="name"
                @change="setBalance"
            ></select3>
        </td>
        <td class="right col-2">
            <money
                class="form-control text-right"
                v-model.number="detail.balance"
                v-bind="moneyConfig"
                disabled
            ></money>
        </td>
        <td class="text-right col-2">
            <money class="form-control text-right" v-model.number="detail.length"></money>
        </td>
        <td class="text-right col-2">
            <money
                class="form-control text-right"
                v-model.number="detail.weight"
                v-bind="moneyConfig"
            ></money>
        </td>
        <td class="text-right col-1">{{detail.factor}}</td>
        <td class="text-center col-1">
            <button type="button" class="btn btn-outline-danger" @click="remove">
                <i class="fas fa-times"></i>
            </button>
        </td>
    </tr>
</template>

<script>
import Select3 from "@c1_common_js/components/Select3";

export default {
    components: { Select3 },

    props: ["detail", "index"],

    data() {
        return {
            moneyConfig: {
                precision: 3
            },
            inventoryDetailUrl: "/api/inventory-details?quantity>0",
            defaultSelectedInventoryDetail: {}
        };
    },
    watch: {
        factor(val) {
            this.detail.factor = val;
        }
    },
    computed: {
        factor() {
            if (this.detail.weight == 0) {
                return "--";
            }
            if (this.detail.length != 0 && this.detail.weight != 0) {
                return (
                    Math.round(
                        (this.detail.length / this.detail.weight) * 100
                    ) / 100
                ).toFixed(2);
            }

            return "--";
        }
    },
    created() {
        if (this.detail.id > 0) {
            this.defaultSelectedInventoryDetail = this.detail.inventoryDetail.data;
        }
    },
    mounted() {
        console.log("Job order detail component mounted.");
    },

    methods: {
        remove() {
            console.log("Removing detail...");
            this.$emit("remove");
        },
        setBalance(selectedValue, selectedObjects) {
            if (selectedObjects[0].hasOwnProperty("others")) {
                this.detail.others = selectedObjects[0].others;
            }

            if (selectedObjects[0].hasOwnProperty("balance")) {
                //  var sum = 0.000;
                // if(this.detail.others.length > 0)
                // {

                //   this.detail.others.forEach(function(other) {
                //     sum += parseFloat(other.weight);
                //   });
                // }

                this.detail.balance = selectedObjects[0].balance;
            }
        }
    }
};
</script>