<template>  
    <tr class="row">  
        <td class="col-11">
            {{detail.title}}
        </td>  
        <td class="text-right col-1">
            <a href="#" role="button" class="btn btn-danger" @click="remove"><i class="fa fa-times" aria-hidden="true"></i></a>
        </td>
    </tr>  
</template>  
  
<script>  
    export default {   
        props: [  
            'detail',
        ],  

  
        data() {
            return {}  
        },  
         
        mounted() {  
            console.log('Attached Accounts component mounted.');  
        },  
  
        computed: {  
  
        },  

        methods: {  
            remove() {  
                console.log('Removing Account...');  
                this.$emit('remove');  
            },
        },
    }  
</script>