<template>  
    <div class="row" :style="marginStyle">
        <div class="col-md-12">
            
            <div>{{ categoryLine.category.data.name }} {{ categoryLine.dr }} {{ categoryLine.cr }}</div>
                    
            <div v-for="accountLine in categoryLine.accountLines.data" v-bind:key="accountLine.id">
                <div class="row" :style="marginStyle2">
                    <div class="col-md-12">
                        <div>{{ accountLine.account.data.title }} {{ accountLine.dr }} {{ accountLine.cr }}</div>
                    </div>
                </div>
            </div>

            <category-line-tree
                v-for="child in children" 
                :category-line="child"
                :children="child.childCategoryLines.data" 
                v-bind:key="child.id"
                :depth="depth+1">
            </category-line-tree>

        </div>
    </div>
</template>  
  
<script>  
    export default {   
        props: [  
            'category-line', 'children', 'depth'
        ],  

        name: 'category-line-tree',
  
        computed: {
            marginStyle() {
                let pixels = this.depth * 35;
                return `padding-left:${pixels}px`;
            },
            marginStyle2() {
                let pixels = (this.depth + 1) * 35;
                return `padding-left:${pixels}px`;
            }
        },

        data() {
            return {}  
        },  
         
        mounted() {  
            console.log('Category Line component mounted.');  
        },  
  
    }  
</script>