<template>  
    <tr class="row">  
        <td class="col-5">  
            <label v-if="detail.type=='Credit'" style="text-indent:100px;">{{ detail.title }}</label>
            <label v-else>{{ detail.title }}</label>
        </td>  
        <td class="col-3 text-right">  
            {{ dr ? dr : '' }}
        </td>  
        <td class="col-3 text-right">
            {{ cr ? cr : '' }}
        </td>
        <td v-if="isEdit||isCreate" class="text-right col-1">
            <a href="#" role="button" class="btn btn-danger" @click="remove"><i class="fa fa-times" aria-hidden="true"></i></a>
        </td>   
        <td v-else class="text-right col-1"><a :href="detail.editUri">Edit</a></td> 
    </tr>  
</template>  
  
<script>  
    export default {   
        props: [  
            'detail',
            'isEdit',
            'isCreate',
        ],  

  
        data() {
            return {}  
        },  
         
        mounted() {  
            console.log('Transaction component mounted.');  
        },  
  
        computed: {  
  
            dr() {  
                return this.detail.type == 'Debit' ? this.detail.amount : 0;  
            },  
  
            cr() {  
                return this.detail.type == 'Credit' ? this.detail.amount : 0;  
            },  
        },  
  
        methods: {  
            remove() {  
                console.log('Removing transaction...');  
                this.$emit('remove');  
            },
        },
    }  
</script>