<template>
    <div class="col-lg-2 col-md-4 col-sm-6">
        <a :href="link" :target="[ openInNewTab ? '_blank' : '_self']">
            <div class="card widget" style="min-height: 9rem;max-height: 9rem;overflow:hidden">
                <div class="card-body text-center">
                    <div class="h1 text-muted text-center">
                        <slot name="icon"></slot>
                    </div>

                    <small class="text-muted text-uppercase font-weight-bold">
                        <slot name="text"></slot>
                    </small>
                </div>
            </div>
        </a>
    </div>
</template>

<script>
export default {
    props: {
        link: {
            type: String,
            default: "#"
        },
        openInNewTab: {
            type: Boolean,
            default: false
        }
    }
};
</script>

<script>
export default {
    props: {
        link: {
            type: String,
            default: "#"
        },
        openInNewTab: {
            type: Boolean,
            default: false
        }
    }
};
</script>





