<template>
	<div>
		<a
			class="nav-link dropdown-toggle"
			href="#"
			id="navbarDropdown"
			role="button"
			data-toggle="dropdown"
			aria-haspopup="true"
			aria-expanded="false"
		>{{ label }}</a>
		<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<input
				v-model="value"
				@blur="setCondition"
				class="form-control mr-sm-2"
				type="search"
				placeholder="Search"
				aria-label="Search"
			>
		</div>
	</div>
</template>

<script>
export default {
	props: ["label", "id"],

	data() {
		return {
			value: ""
		};
	},

	mounted() {
		console.log("Text Filter Component mounted.");
	},

	methods: {
		setCondition() {
			this.$emit("set-condition", this.id, this.value);
		},

		clear() {
			this.$emit("clear");
		},

		filter() {
			this.$emit("filter");
		}
	}
};
</script>
