<template>
<div class="text-right">
<a class="btn btn-primary" :href="assembledUrl" target="_blank">Export <i class="fa fa-file-excel-o"></i></a>
</div>
</template>

<script>
    export default {
        props: ['export-base-url', 'conditions', 'page', 'sorter', 'sort-ascending'],

        mounted() {
            console.log('Export components mounted.');
        },

        computed: {
            conditionString() {
                return this.conditions.reduce((prev, curr) => {
                    return prev.concat('&' + curr.field + '=' + curr.value)
                }, '');
            },

            sorterString() {
                return '&sort=' + (this.sortAscending ? '' : '-') + this.sorter;
            },

            assembledUrl() {
                let leader = '/export?';
                if (this.exportBaseUrl.indexOf('?') > -1) leader = '&';
                return this.exportBaseUrl + leader + 'page=' + this.page + this.conditionString + this.sorterString;
            },
        }
    }
</script>