<template>
	<form @submit.prevent="filter">
		<div class="row">
			<div class="col-8">
				<div class="row" v-for="(condition, index) in conditions" :key="index">
					<div class="form-group col-6">
						<select class="custom-select" v-model="condition.field">
							<option
								v-for="field in filterable"
								:value="field.id"
								:key="field.id"
							>{{ startCase(field.text) }}</option>
						</select>
					</div>

					<div class="form-group col-6">
						<div class="input-group">
							<input type="text" class="form-control" v-model="condition.value">
							<span class="input-group-btn">
								<button type="button" class="btn btn-dark" v-on:click="conditions.splice(index, 1)">&times;</button>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-4 text-right">
				<button type="button" class="btn btn-link" v-on:click="add">
					<i class="fa fa-plus-circle"></i>
				</button>

				<button type="submit" class="btn btn-outline-primary btn-sm" v-on:click="filter">
					<i class="fa fa-filter"></i>
				</button>

				<button type="button" class="btn btn-outline-dark btn-sm" v-on:click="clear">
					<i class="fa fa-ban"></i>
				</button>
			</div>
		</div>
	</form>
</template>

<script>
export default {
	props: ["conditions", "filterable"],

	mounted() {
		console.log("Filters components mounted.");
	},

	methods: {
		startCase(val) {
			return _.startCase(val);
		},

		add() {
			this.$emit("add");
		},

		clear() {
			this.$emit("clear");
		},

		filter() {
			this.$emit("filter");
		}
	}
};
</script>
