<template>
    <div class="row">
        <div class="col-6">
            <div class="text-muted" style="vertical-align: middle">{{ status }}</div>
        </div>

        <div class="col-6 text-right">
            <button class="btn btn-outline-primary btn-sm" v-on:click="prevPage" :disabled="prevDisabled">
                <i class="fa fa-caret-left"></i> Prev
            </button>

            <button class="btn btn-outline-primary btn-sm" v-on:click="nextPage" :disabled="nextDisabled">
                Next <i class="fa fa-caret-right"></i>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['status', 'prev-disabled', 'next-disabled'],

        mounted() {
            console.log('Pagination Links components mounted.')
        },

        methods: {
            prevPage() {
                this.$emit('prev-page');
            },

            nextPage(){
                this.$emit('next-page');
            },
        }
    }
</script>
