<template>
    <div class>
        <a
            class="nav-link dropdown-toggle text-wrap"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            ref="dropdownLink"
        >
            {{ label }}
            <small>{{ value }}</small>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <input
                :class="{'show': true}"
                v-model="value"
                @blur="setCondition"
                @keydown.enter="clickLink"
                ref="searchBox"
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
            />
        </div>
    </div>
</template>

<script>
export default {
    props: ["label", "field", "clearit", "initVal"],

    data() {
        return {
            value: this.initVal
        };
    },

    watch: {
        clearit(val) {
            if (val) {
                this.value = "";
                this.$emit("cleared");
            }
        }
    },

    created() {
        if (!this.initVal) {
            return;
        }
        this.setCondition();
    },

    methods: {
        setCondition() {
            this.$emit("set-condition", this.field, this.value, "LIKE");
            this.show = false;
        },

        clickLink() {
            this.$refs.dropdownLink.click();
        }
    }
};
</script>
