<template>
    <small class="text-muted">Last updated by: {{ name }} on {{ timestamp }}</small>
</template>

<script>
    import moment from 'moment-timezone';

    export default {
        props: ['name', 'time'],
        
        computed: {
            timestamp() {
                let utc = moment.tz(this.time.date, "UTC");
                return utc.clone().tz('Asia/Manila').format("LLL");
            }
        },
    }
</script>
