
// Fonts
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway');


body {
    align: center;
    font-size: 14.66px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.uppercaseLetters {
    text-transform: uppercase;
}
#subCustomerHeaderInfo {
    margin-left: 120px;
    margin-right: 120px;
    font-size: 1em;
}
#deliveryReceiptDetailTable {
    margin-left: 120px;
    margin-right: 120px;
}